* {margin: 0; padding: 0; box-sizing: border-box;}
body { font-family: Arial, Helvetica, sans-serif;}
a {text-decoration: none;}

.contenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
}

h2 {
    padding-bottom: 20px;
}

.navbar {
    background-color: #1e866e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a {
    color: #fff;
    padding: 12px;
}

.navbar ul li a:hover {
    background-color: #fff;
    color: #1e866e;
    border-radius: 4px;
}

p {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
}

.contenu ul {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.contenu li {
    padding-left: 80px;
    padding-top: 20px;
    padding-right: 60px;
}

.flotte {
    float: left;
}